---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
description: "Peer-reviewed articles, manuscripts under revision and preprints by Emile Emery on power grids, spatial networks, ecological and social interactions."
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% for category in site.publication_category %}
  {% assign papers = site.publications | where: "category", category[0] | sort: "date" | reverse %}
  {% if papers.size > 0 %}
<h2>{{ category[1].title }}</h2><hr />
    {% for paper in papers %}
<div class="list__item">
  <article class="archive__item">
    <h2 class="archive__item-title">{{ paper.title }}</h2>
    <p><i>{{ paper.venue }}</i>, {{ paper.date | date: "%Y" }}</p>
      {% if paper.excerpt %}
    <p class="archive__item-excerpt">{{ paper.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
      {% if paper.citation %}
    <p>Recommended citation: {{ paper.citation }}</p>
      {% endif %}
      {% if paper.paperurl %}
    <p><a href="{{ paper.paperurl }}">Download paper</a></p>
      {% endif %}
  </article>
</div>
    {% endfor %}
  {% endif %}
{% endfor %}
